<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DecisionServices" value="http://localhost:37000/api/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UWManualWebApiUrl" value="http://localhost:32000/api/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tempPath" value="\temp" />
    <add key="saveToFile" value="false" />
    <add key="error:FilePath" value="E:\Logs\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>